
<div class="row">
    <div class="user_profile col-4">
    <%= render "shared/avatar", user: user, width: "100px" %>
    <br>
    <p>@<%= user.username %></p>
    <p><%= user.full_name %></p>
    <p><%= user.city %>,<%= @user.state %></p>
    <br>
    <br>
    <p><%= user.bio %></p>
    <br>
    <% unless user == current_user %>
        <% if current_user.following.include?(user.id) %>
            <%= link_to "Unfollow", unfollow_user_path(user.id), class: "btn btn-danger" %>
        <% else %>
            <%= link_to "Follow", follow_user_path(user.id), class: "btn btn-primary" %>
        <% end %>
    <% end %>
    </div>

    <div class="message_list col-8">
        
        <% if current_user == user %>
              <%= form_for message do |form| %>
                <%= form.text_area :body %>
                <%= form.submit "Tweet it!", class: "btn btn-primary", id: "tweet-button" %>
          <% end %>
        <% end %>
        
        <% @messages.each do |message| %>
        <div class="message" id="message-<%= message.id %>">
            <%= render "shared/avatar", user: message.user, width: "50px" %>
            <p><%= message.body %></p>
            <br>
            <p class="message-date text-right"><%= time_ago_in_words(message.created_at) %> ago
            <% if message.user == current_user %>
                <i class="fas fa-trash-alt" onClick="deleteTweet(<%= message.id %>)"></i>
            <% end %>  
            </p>
        </div>
    
        <% end %>
    </div>
</div>